section
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Knowledge Base
        p.lead
          | What have I learned?
.container
  section
    h1.text-center 404
    hr
    p 
    | A valamivel több, mint egy hetes szóló projekt munka bizonyossá tette, amit eddig is sejtettem már:
    | a back-end programozás nem a szívem csücske. A rest API alapvető CRUD funkciókat ellát, de volt amit nem sikerült megvalósítani.
    | Az utóbbi hetekben tanult, NodeJS, Express, Mongoose és a MongoDB sok-sok kellemes percet okozott, csodálatos érzés mikor századjára is
    | vörösre festik a monitoromat a gyönyörűen megkomponált és változatos error üzenetek. A Robo 3T és főleg a Postman hasznosnak bizonyultak. 
    | A Pug, akárcsak a kutyafajta, először nem hagyott bennem mély nyomot, de a végére megkedveltem.
    hr
    | 