.my-bg
  .container-fluid.my-fader
    .row
      .table.my-sponsor-table
        thead
          tr
            th
        tbody
          tr
            td.my-sponsor-td
              .my-sponsors
                .my-latex
          tr
            td.my-sponsor-td
              .my-sponsors
                .my-riders
          tr
            td.my-sponsor-td
              .my-sponsors
                .my-diablo
          tr
            td.my-sponsor-td
              .my-sponsors
                .my-diablerie
          tr
            td.my-sponsor-td
              .my-sponsors
                .my-camarilla
      .container
        section.my-title
          h1.text-center BLOG
        section.my-table
          table.table.table-striped
            thead
              tr
                th ID
                th User Name
                th E-mail
                th Updated at
                th

            tbody
              tr(*ngFor="let x of datas")
                td #
                td {{x.username}}
                td {{x.email}}
                td {{x.updatedAt}}
                td
                  .btn-group
                    button.btn.btn-outline-danger(type="button" ,(click)="deleteRow(x.id)") Delete
                    button.btn.btn-outline-primary(type='button', (click)="update(x)") Save changes


        section.my-table.text-center(*ngFor="let x of datas")
          .row
            .col-3
              .my-details
                h1 {{x.username}}
                p ID: {{x._id}}
                p {{x.email}}
                p {{x.updatedAt}}
                .btn-group
                  button.btn.btn-outline-danger(type="button" ,(click)="deleteRow(x._id)") Delete
                  button.btn.btn-outline-primary(type='button', (click)="update(x._id)") Update
            .col-9.my-details
                h6.text-left {{x.posts}}
          hr
        