section.my-title
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 About
      p.lead
        | Let me introduced myself!

section.my-section-1
  .container
    .row.align-items-center
      .col-6
        img.img-fluid(src='../../assets/img/portrait_small.png' alt="Peter Banfi Portrait")
      .col-6
        .row
          .col-12
            h1.mx-auto.my-header-white Hi!
        .row
          .col-12
            h2.my-header-white My name is Peter Banfi.
          
section.my-hometown
  .container-fluid
    .row.my-place.align-items-center
      .col-12.text-center
        h1.my-header-white I was born in
        h1.my-header.my-header-white Hódmezővásárhely
        h1.my-header-white 1991. September 25.

section.my-schools
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 I finished high school in 2010 at HISZK Gregus Máté Műszaki Szakképző.
  .jumbotron.jumbotron-fluid
    .container.text-right
      h1.display-4 I got my  marketing and advertising executive certification in 2011.
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 I was working as a trading assistant for Profield KFT.
  .jumbotron.jumbotron-fluid
    .container.text-right
      h1.display-4 In 2013, I moved to...

section.my-southampton
  .container-fluid
    .row.my-i-miss-soton.align-items-center
      .col-12.text-center
        h1.my-header.my-header-white Southampton

section.my-soton-life
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 I was working as a domestic cleaner in Southampton General Hospital.
  .jumbotron.jumbotron-fluid
    .container.text-right
      h1.display-4 In 2017 I finished a course.

section.my-certificate
  .container-fluid
    .row.align-items-center
      .col-12.text-center
        img(src="../../assets/img/certificate.png")

section.my-soton-ends
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 This course led me to programming.
  .jumbotron.jumbotron-fluid
    .container.text-right
      h1.display-4 So in late 2017, I moved back to Hungary.
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 This time to...

section.my-budapest
  .container-fluid
    .row.my-budapest-image.align-items-center
      .col-12.text-center
        h1.my-header.my-header-white Budapest