.container
  section.block
    h1.text-center#hOne Registration works!


  //input.btn.btn-dark(type="button", value="getAll" '(click)'="getAll()")
  //input.btn.btn-dark(type="button", value="update" '(click)'="update()")
  //input(type="text" name="id" id="id" disabled , [(ngModel)]="modal.id")
  //form
    input.form-control(type="text" name="userName" id="userName" ,[(ngModel)]="adat.userName" placeholder="user name" required)
    input.form-control(type="text" name="email" id="email" ,[(ngModel)]="adat.email" placeholder="email" required)
    input.form-control(type="password" name="password" id="password" ,[(ngModel)]="adat.password" placeholder="password" required)
    input.btn.btn-dark(type="button", value="create" '(click)'="create()")
  section.block
    form.needs-validation(novalidate='')
      .form-row.justify-content-center
        .col-md-4.mb-3
          label(for='validationCustomUsername') Username
          .input-group
            .input-group-prepend
              span#inputGroupPrepend.input-group-text
                span.far.fa-user(aria-hidden="true")
            input#validationCustomUsername.form-control(type='text', name="username", placeholder='Username' ,[(ngModel)]="adat.username", aria-describedby='inputGroupPrepend', required='')
            .invalid-feedback
              | Please choose a username.
      .form-row.justify-content-center
        .col-md-4.mb-3
          label(for='validationCustom01') E-mail
          .input-group
            .input-group-prepend
              span#inputGroupPrepend.input-group-text @
            input#validationCustom01.form-control(type='text', name="email" ,[(ngModel)]="adat.email", placeholder="E-mail", required='')
          .valid-feedback
            | Looks good!
      .form-row.justify-content-center
        .col-md-4.mb-3
          label(for='validationCustom02') Password
          .input-group
            .input-group-prepend
              span#inputGroupPrepend.input-group-text
                span.fas.fa-key(aria-hidden="true")
            input#validationCustom02.form-control(type='password', name="password", placeholder='***********' ,[(ngModel)]="adat.password" , required='')
          .valid-feedback
            | Looks good!
      .form-row.justify-content-center
        .col-md-4.mb-3
          button.btn.btn-outline-dark.btn-block(type='submit' value="create" '(click)'="create()") Submit form

  