.modal-footer {
  justify-content: center;
}

#user {
  color: white;
}

.bg-dark-custom {
  background-color: #343A40;
  transition: background-color 1s;
}

.fa-arrow-up {
  margin-top: 15px;
  color: black;
  transition: color .3s;
}

.fa-arrow-up:hover {
  cursor: pointer;
  color: #E9ECEF;
}

nav.bg-dark-custom:hover {
  background-color: #343A40;
}

.my-arrow-btn {
  background: transparent;
  -webkit-appearance: none;
}

.my-custom-links {
  margin-top: 15px;
  margin-right: 15px;
  color: black;
  transition: color 0.3s;
}

.my-facebook:hover {
  color: #4867AA
}

.my-github:hover {
  color: #ffffff;
}

.my-instagram:hover {
  color: #7B38AC;
}

.my-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #343A40;
}
