
nav.navbar.sticky-top.navbar-dark.bg-dark-custom.navbar-expand-lg
  .container
    a.navbar-brand(href="/home") Peter Banfi
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(routerLink="home" routerLinkActive="active" data-toggle="tooltip" title="Home")
            i.fas.fa-home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(routerLink="about" routerLinkActive="active" data-toggle="tooltip" title="About")
            i.fas.fa-user-circle
        li.nav-item
          a.nav-link(routerLink="knowledge" routerLinkActive="active" data-toggle="tooltip" title="Knowledge")
            i.fas.fa-graduation-cap
        li.nav-item
          a.nav-link(routerLink="api" routerLinkActive="active" data-toggle="tooltip" title="Rest API")
            i.fas.fa-cogs
        li.nav-item
          a.nav-link(routerLink="connection" routerLinkActive="active" data-toggle="tooltip" title="Connection")
            i.far.fa-address-card
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            | More
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="/blog") Go To The Blog
      form.form-inline.my-2.my-lg-0
        a.nav-link#user
        button.btn.btn-outline-light(type="button"  data-toggle="modal" data-target="#exampleModal")
          i.fas.fa-sign-in-alt

router-outlet
// Modal
#exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Sign in
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        form
          .form-group
            .form-row.justify-content-center
              .col-md-8
                label(for='logName') User name
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      span.far.fa-user(aria-hidden="true")
                  input.form-control(type="text" name="logName" id="logName" placeholder="Username" required)
            .form-row.justify-content-center
              .col-md-8
                label(for='logPass') Password
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      span.fas.fa-key(aria-hidden="true")
                  input.form-control(type="password" name="logPass" id="logPass" placeholder="Password" required)
                  a.nav-link(routerLink="registration" routerLinkActive="active" data-dismiss="modal" aria-hidden="true") Not a member yet? Click here to sign up!
            .form-row.justify-content-center
              .col-md-8
                button.btn.btn-outline-dark.btn-block#signInBtn(type="button"  data-dismiss="modal" aria-hidden="true" '(click)'='signIn()') Sign in
      .modal-footer
        p Peter Banfi &copy; 2018.
        

//footer
footer.my-footer#my-footer-load
  .container
    .row.align-items-center
      .col-4.text-center
        span.text-muted Peter Banfi &copy; 2018.
      .col-4.text-center
        .my-arrow-btn(type="button" data-dismiss="modal" aria-hidden="true" '(click)'='backToTop()' data-toggle="tooltip" title="Back To Top")
          i.fas.fa-arrow-up.fa-2x.my-arrow
      .col-4.text-center
        a.my-custom-links.my-facebook(href="https://www.facebook.com/tylerriiserocks" data-toggle="tooltip" title="Facebook")
          i.fab.fa-facebook-square.fa-2x
        a.my-custom-links.my-github(href="https://github.com/peterbanfi" data-toggle="tooltip" title="Github")
          i.fab.fa-github.fa-2x
        a.my-custom-links.my-instagram(href="https://www.instagram.com/iamtylerriise/" data-toggle="tooltip" title="Instagram")
          i.fab.fa-instagram.fa-2x