
nav.navbar.sticky-top.navbar-dark.bg-dark-custom.navbar-expand-lg
  .container
    a.navbar-brand(href="/home") Peter Banfi
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(routerLink="home" routerLinkActive="active")
            i.fas.fa-home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(routerLink="about" routerLinkActive="active")
            i.fas.fa-user-circle
        li.nav-item
          a.nav-link(routerLink="knowledge" routerLinkActive="active")
            i.fas.fa-graduation-cap
        li.nav-item
          a.nav-link(routerLink="api" routerLinkActive="active")
            i.fas.fa-cogs
        li.nav-item
          a.nav-link(routerLink="connection" routerLinkActive="active")
            i.far.fa-address-card
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            | Dropdown
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="#") Action
            a.dropdown-item(href="#") Another action
            .dropdown-divider
            a.dropdown-item(href="#") Something else here
      form.form-inline.my-2.my-lg-0
        a.nav-link#user
        button.btn.btn-outline-light(type="button" data-toggle="modal" data-target="#exampleModal")
          i.fas.fa-sign-in-alt

router-outlet
// Modal
#exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Sign in
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        form
          .form-group
            .form-row.justify-content-center
              .col-md-8
                label(for='logName') User name
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      span.far.fa-user(aria-hidden="true")
                  input.form-control(type="text" name="logName" id="logName" placeholder="Username" required)
            .form-row.justify-content-center
              .col-md-8
                label(for='logPass') Password
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      span.fas.fa-key(aria-hidden="true")
                  input.form-control(type="password" name="logPass" id="logPass" placeholder="Password" required)
                  a.nav-link(routerLink="registration" routerLinkActive="active" data-dismiss="modal" aria-hidden="true") Not a member yet? Click here to sign up!
            .form-row.justify-content-center
              .col-md-8
                button.btn.btn-outline-dark.btn-block(type="button" data-dismiss="modal" aria-hidden="true" '(click)'='signIn()') Sign in
      .modal-footer
        p Peter Banfi &copy; 2018.
        

//footer