
nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href="#") Peter Banfi
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(routerLink="home" routerLinkActive="active")
            i.fas.fa-home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(routerLink="about" routerLinkActive="active")
            i.fas.fa-user-circle
        li.nav-item
          a.nav-link(routerLink="knowledge" routerLinkActive="active")
            i.fas.fa-graduation-cap
        li.nav-item
          a.nav-link(routerLink="api" routerLinkActive="active")
            i.fas.fa-cogs
        li.nav-item
          a.nav-link(routerLink="connection" routerLinkActive="active")
            i.far.fa-address-card
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            | Dropdown
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="#") Action
            a.dropdown-item(href="#") Another action
            .dropdown-divider
            a.dropdown-item(href="#") Something else here
      form.form-inline.my-2.my-lg-0
        a.nav-link(href="#") GO TO MY BLOG
        button.btn.btn-outline-light(type="button" data-toggle="modal" data-target="#exampleModal")
          i.fas.fa-sign-in-alt

router-outlet
input.btn.btn-dark(type="button", value="getAll" '(click)'="getAll()")
//input.btn.btn-dark(type="button", value="update" '(click)'="update()")
//input(type="text" name="id" id="id" disabled , [(ngModel)]="modal.id")
input.form-control(type="text" name="userName" id="userName" ,[(ngModel)]="adat.userName" placeholder="user name")
input.form-control(type="text" name="email" id="email" ,[(ngModel)]="adat.email" placeholder="email")
input.form-control(type="password" name="password" id="password" ,[(ngModel)]="adat.password" placeholder="password")
input.btn.btn-dark(type="button", value="create" '(click)'="create()")
// Modal
#exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Sign in
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        .input-group
          .input-group-prepend
            span.input-group-text
              span.far.fa-user(aria-hidden="true")
          input.form-control(type="text" name="logName" id="logName" placeholder="Username")
          br
          .input-group-prepend
            span.input-group-text
              span.fas.fa-key(aria-hidden="true")
          input.form-control(type="password" name="logPass" id="logPass" placeholder="Password")
        a(href="http://") Not a member yet? Click here to registrate!
      .modal-footer
        button.btn.btn-outline-dark(type="button") Sign in